<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.ico">
  <script>
    var checkForBrokenBuild = function() {
	    console.log("Check!");
    	if($("#build_state h3").text() == "broken") {
    		console.log("Broken!");
    		$("#alarm").width("100%").height("100%").show();
    		$("#alarm").html('<iframe width="100%" height="100%" src="http://www.youtube.com/embed/guq9r8Q2u0w?fullscreen=1&autoplay=1" frameborder="0" allowfullscreen></iframe>');
	    	setTimeout(checkForBrokenBuild, 480000);
	    	return;
    	}
    	else $("#alarm").html("").hide();
    	setTimeout(checkForBrokenBuild, 80000);
    };
  
  	$(document).ready(function() {
  		checkForBrokenBuild();
  	});
  </script>

</head>
  <body>
  	<div id="alarm" style="position:absolute;z-index:10000;display:none"></div>
    <div id="container">
      <%= yield %>
    </div>
  
    <% if development? %>
      <div id="saving-instructions">
        <p>Paste the following at the top of <i><%= params[:dashboard] %>.erb</i></p>
        <textarea id="gridster-code"></textarea>
      </div>
      <a href="#saving-instructions" id="save-gridster">Save this layout</a>
    <% end %>
  </body>
</html>