<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":1,"row":2},{"col":3,"row":2}]')
});
</script>

<% content_for(:title) { "1080p dashboard" } %>

<div class="gridster" style="margin: 0 auto;">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    	<div id="build_state" data-id="build_state" data-view="Text" data-title="Build state" data-text="Checking..." style="background:#f33"></div>
		<i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png" style="background:#fff"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Success rate" data-min="0" data-max="100" style="background:#8c8"></div>
    </li>    
    
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pullrequest" data-view="Text" data-title="Latest open pull request" data-text="" style="background:#88c"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is the Project [m] dashboard" data-moreinfo=""></div>
    </li>
    
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>